.title {
  text-align: center;
  background-color: red;
  color: white;
  margin-left: 35px;
  margin-right: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 4px solid darkred;
  border-radius: 10px;
  text-decoration: underline;
}

body {
  background-color: gray;
}

input {
  width: 100px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 45px;
}

input::placeholder {
  font-size: 16px;
}

#displayResult {
  display: inline;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
}

button {
  background-color: green;
  border: 2px solid darkgreen;
  width: 80px;
  height: 28px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}