.title {
  text-align: center;
  background-color: red;
  color: white;
  margin-left: 45px;
  margin-right: 45px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 4px solid rgb(184, 0, 0);
  border-radius: 10px;
  text-decoration: underline;
  font-size: 18px;
}

body {
  background-color: gray;
  color: white;
}

input {
  width: 100px;
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}

input::placeholder {
  font-size: 14px;
  text-align: center;
}

#displayResult {
  display: inline;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  font-weight: bold;
  color: black;
}

.calculateBtn {
  background-color: green;
  border: 2px solid darkgreen;
  width: 80px;
  height: 28px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  }

#barContainer {
display: flex;
flex-direction: row;
width: 300px;
height: 20px;
border: 1px solid black;
border-radius: 3px;
margin: 0 auto;
align-items: center;
margin-top: 15px;
}

#item {
height: 19px;
background-color: red;
color: white;
width: 0%;
text-align: center;
font-weight: bold;
font-size: 14px;
align-content: center;
  }

.addDistance {
  width: 90px;
  height: 40px;
  background-color: green;
  border: 2px solid darkgreen;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#displayResult2 {
  display: inline;
  background-color: white;
  padding: 5px 10px 5px 10px;
  border: 1px solid black;
  border-radius: 4px;
  font-weight: bold;
  color: black;
  }

.calcSpeedBtn {
  width: 85px;
  height: 35px;
  background-color: green;
  border: 2px solid darkgreen;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}

.input-row {
  display: flex;
  align-items: center;
  gap: 2px;
}

span {
  width: 35px;
  font-weight: bold;
}

.progressContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding-top: 35px;
}

.progressItems {
  display: flex;
  align-items: center;
  gap: 2px;
  padding-left: 35px;
}

.changeSite {
background-color: rgb(207, 30, 30);
border: 2px solid #9b0000;
border-radius: 10px;
height: 25px;
width: 142px;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

#calcMode {
  display: block;
  margin: auto;
  height: 30px;
  width: 110px;
  border: 2px solid red;
  font-weight: bold;
}

#barTracker {
  width: 125px;
  display: block;
  margin: auto;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
}
